.home {
    height: 100vh;
    display: flex;
    justify-content: space-between;
}

.home .text-home {
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    padding: 10%;
    text-align: left;
}

.text-home h1 {
    font-size: 60px;
    color: hsl(220, 23%, 18%);
}

.text-home p {
    color: gray;
    margin: 10px 0;
}

.home .image-home {
    background-image: url("../images/bg-intro-desktop.svg");
    background-size: cover;
    width: 100%;
    text-align: right;
    position: relative;
    overflow: hidden;
}

.home .image-home img {
    width: 100%;
    transform: translate(10vh, -12vh);
    z-index: 2;
}

.why-choose {
    background-color: rgba(190, 190, 190, 0.322);
    transform: translate(0, -7.5vh);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    padding: 100px 0;
    z-index: 1;
}

.why-choose .top-choose {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.top-choose .d1{
    width: 60%;
}
.top-choose .d2{
    height: 100px;
    background-color: yellow;
}

.top-choose h2 {
    font-size: 35px;
    color: hsl(220, 23%, 18%);
    font-weight: 400;
    
}
.top-choose p{
    margin: 20px 0;
    color: rgb(97, 96, 96);
    font-weight: 300;
}
.why-choose .cont-divs-choose {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
.about-choose{
    margin-right: 20px;
    height: 250px;
    justify-content: space-around;
}
.about-choose h3{
    padding: 20px 0;
    font-weight: 700;
    font-size: 20px;
    color: hsl(220, 23%, 18%);
}
.about-choose p{
    color: rgb(97, 96, 96);
    font-weight: 300;
    font-size: 14px;
}
.about-choose img{
}
.lastest-articles{
    display: flex;
    flex-direction: column;
}
.lastest-articles container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.title-section{
    display: flex;
    justify-content: center;
}
.title-section h2{
    width: 85%;
    font-size: 25px;
    font-weight: 400;
    color: hsl(220, 23%, 18%);
    margin-bottom: 40px;
}
.article-div{
    width: 20%;
    height: 350px;
    margin: 0 10px;
    text-align: center;
}
.article-div img{
    width: 230px;
    height: 170px;
}
.article-text{
    width: 65%;
    margin: 0 auto;
    text-align: left;
    color: rgb(97, 96, 96);
}
.article-text p{
    margin: 10px 0;
}
.article-writer{
    font-size: 11px;
    font-weight: 400;
}
.article-title{
    font-weight: 400;
    color: hsl(220, 23%, 18%);
}
.article-overview{
    font-size: 13px;
    font-size: 300;
    color: rgb(151, 151, 151);
}